body {
    display: flex;
    flex-direction: columm;
    margin:0;
    padding: 10px;
    background-color: #282c34
    min-height: 100vh
}
header, nav, footer{
    background-color:#ffa500;
    padding: 20px;
    text-aling: center;
    color: white;
}